.navbar {
    color: red;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.why {
   background-color: gold;
   color: black;
   width: 100%;
   text-align: center;
}

.why-hr {
    background-color: darkgoldenrod;
    border: 5px solid darkgoldenrod;
}

.split {
    width: 100%;
    background: red;
}

.benefits {
    width: 60%;
}

.quote {
    width: 35%;
}